html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.next {
  position: absolute;
  left: 335px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.previous {
  position: absolute;
  left: 5px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.headertext {
  position: absolute;
  top: 15px;
  left: 130px;
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: underline;
  font-weight: bold;
  color: black;
  font-size: 10.25px;
}

.pagetext1 {
  width: 180px;
  padding: 10px;
  margin: 5px;
  position: absolute;
  top: 40px;
  left: 160px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: black;
  font-size: 10px;
}

.pagetext2 {
  width: 180px;
  padding: 10px;
  margin: 5px;
  position: absolute;
  top: 215px;
  left: -1px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: black;
  font-size: 10px;
}

.pagetext3 {
  width: 180px;
  padding: 10px;
  margin: 5px;
  position: absolute;
  top: 590px;
  right: 280px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: black;
  font-size: 10px;
}

.next:hover{color:red}
.previous:hover{color:red}