html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.previous {
  position: absolute;
  left: 0px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.headertext {
  width: 150px;
  padding: 10px;
  position: absolute;
  left: 130px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;  text-decoration: none;
  color: black;
  font-size: 10px;
}

.pagetext1 {
  width: 300px;
  padding: 10px;
  margin: 5px;
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: black;
  font-size: 20px;
}

.previous:hover{color:red}